body{
    background-color: #f3f3f3;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;    
}

.bubble{
    border-width: 1px;
    border-color: #ddd;
    border-style: solid;
    border-radius: 4px;    
    padding: 20px;
    margin: 10px;
    background-color: #fff;
}

.left{
    text-align: left;
    padding-left: 40px;
}

.right{
    text-align: right;
    padding-right: 40px;
}
