<!-- Heading -->
<h1>Server</h1>

<!-- Chat messages -->
<div ng-repeat="message in messages">
    <div class="bubble" ng-class="message.side">
        <h4>{{message.sender}}:</h4>
        <div>{{message.body}}</div>
    </div>
</div>

<!-- Input Form -->
<div class="bubble left">
    <h2>Enter a message: </h2>
    <form ng-submit="add_new_message()">
    <div class="input-group">
        <input class="form-control" type="text" name="message" placeholder="Message" ng-model="message_body">
        <span class="input-group-btn">
            <input class="btn btn-default btn-success" type="submit" >
        </span>
    </div>
    </form>
</div>    

